<div class="card">


    <div class="card-header">To Do List</div>
    <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
    <input type="text" name="todo" id="todo"  #todo="ngModel" ngModel>
  
    <input type="submit" value="Add ToDo">
  </form>
  <ul>
  
    <div *ngFor="let todo of allTodos$ | async">
  
        <li>{{todo.content}} <span style="color:black;background-color: aquamarine;size:small;" class = " btn btn-danger" (click)="removeTodo(todo)">x</span></li>
 
  
  </div></ul>
  </div>