<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr *ngFor="let flat of flats">
            <td>{{flat.flatNumber}}</td>
           <td> <img [src]="flat.imageUrl"
            height="50px"

            width="50px"

            alt="some product image"

            (mouseover)="applyAnimation($event)"

            (mouseout)="applyAnimation($event)"

            [@enlarge]="isHovering  ? 'end' : 'start'"></td>
            <!-- <td>{{flat.imageUrl}}</td> -->

        <!-- </tr>
 </table>

  

    
</body>
</html> --> 


<div id="event-list">
    <mat-card class="example-card" *ngFor="let flat of flats;">
        <mat-card-header>
      
        <mat-card-title>#{{flat.flatNumber}} {{flat.flatName}}</mat-card-title>
        <mat-card-subtitle>
            <h6 class="text-secondary"> Area In Sq. Feet {{flat.aqreaInSqft}}</h6>
            <br>
            <h6 class="text-secondary">Number of Rooms {{flat.numberOfZRooms}}</h6>
            <br>
            <h6 class="text-secondary">Monthy Rent {{flat.monthlyRent}}</h6>
           
        
        </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image height="24%" [src]="flat.imageUrl" alt="Card image cap"
        height="50px"

            width="50px"

            alt="some product image"

            (mouseover)="applyAnimation($event)"

            (mouseout)="applyAnimation($event)"

            [@enlarge]="isHovering  ? 'end' : 'start'">
        <mat-card-content>
             <!-- <div class="card" style="width: 24rem;">
                 <div class="card-header text-center">
                    <h4>#{{ev.id}} {{ev.name}}</h4>
                </div> -->
                <!-- <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h6>Date and Time: </h6>
                            <h6 class="text-secondary"> {{ ev.date}}, {{ ev.time}}</h6> 
                        </li>
                        <li class="list-group-item">
                            <h6>Price:</h6> 
                            <h6 class="text-secondary">{{ev.price}}</h6>
                        </li>
                        <!-- <li class="list-group-item">
                            <h6>Location: </h6> 
                            <h6 class="text-secondary">{{ev.location.address}}, {{ev.location.city}}, {{ev.location.country}}</h6>
                        </li> -->
<!--                       
                    </ul>

                </div>
            </div>   -->

        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-button>REGISTER</button>
        <button mat-button>SHARE</button>
        </mat-card-actions> -->
    </mat-card>
</div>
  
<!-- <button style="margin:20px 45%;" class="btn btn-info" [routerLink]="['addEvent']"> -->
    <!-- Add Event</button> -->






