



<form [formGroup]="bookForm" (ngSubmit)="onSubmit()">

    <h1>Book Form</h1>
    <div class="form-group">
        <mat-form-field>
            <mat-label for="id">Id</mat-label>
            <!-- <input class="form-control" type="text" name="id" id="id" formControlName="id"> -->
            <input matInput>
        </mat-form-field>
        <div *ngIf="id">
            <div *ngIf="!id.valid && (id.dirty || id.touched)">

                <div [hidden]="!id.errors?.['required']">
                    Id is required
                </div>


            </div>

        </div>


        <mat-form-field>
            <mat-label for="title">Title</mat-label>
            <!-- <input class="form-control" type="text" name="title" id="title" formControlName="title"> -->
v              <input matInput>
        </mat-form-field>
        <div *ngIf="title">
            <div *ngIf="!title.valid && (title.dirty || title.touched)">

                <div [hidden]="!title.errors?.['required']">
                    Name is required
                </div>


            </div>
        </div>

        

            <label for="date"> Date</label>

         <mat-form-field>
            <input matInput [matDatepicker]="pickeryear" 
            placeholder="Choose a date">
            <mat-datepicker-toggle  [for]="pickeryear">
            </mat-datepicker-toggle>
            <mat-datepicker #pickeryear startView="year"></mat-datepicker>
        </mat-form-field>
        
        



        <div formGroupName="author">

            <mat-form-field>
                <label for="name">Author Name</label>
                <input class="form-control" type="text" name="name" id="name" formControlName="name">

            </mat-form-field>
            <div *ngIf="name">
                <div *ngIf="!name.valid && (name.dirty || name.touched)">

                    <div [hidden]="!name.errors?.['required']">
                        Name is required
                    </div>

                </div>
            </div>
            </div>





            <mat-form-field>
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" formControlName="email">

            </mat-form-field>
            <div *ngIf="email">
                <div *ngIf="!email.valid && (email.dirty || email.touched)">

                    <div [hidden]="!email.errors?.['required']">
                        Email is required
                    </div>

                </div>
            </div>



            

         <div formArrayName="publisher">

            <div *ngFor="let publishers of publisher().controls;let publisherIndex=index">
  
                <div [formGroupName]="publisherIndex">
  
                    <!-- {{publisherIndex}} <br> -->
  
                    Publisher Name: <br>
  
                    <input type="text" name="co_name" id="co_name" formControlName="co_name"> 
  
                    Publisher Id: <br>
  
                    <input type="number" name="co_id" id="co_id" formControlName="co_id"> 
                <br>
                    <button class="btn btn-success" (click)="removePublisher(publisherIndex)">Remove Publisher</button>
  
                </div>
  
            </div>
            <button class="btn btn-primary" (click)="addPublisher()">Add Publisher</button>
        
        </div>


        <button type="submit" [disabled]="!bookForm.valid">Submit</button>
    </div>

    



<!-- <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field> -->